body{
    margin: 0;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    background-color: #1F2937;
}


.header-container{
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 0px 90px;

}

.header-container h3{
    margin-right: auto;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

h3{
    font-size: 24px;
    color: #F9FAF8;
}


.content-container,
.footer-container{
    padding: 100px 90px 100px;
    justify-content: center;
    gap: 70px;
}

.content-div{
    flex-direction: column;
}

.content-div h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;
}

.content-div p{
    font-size: 18px;
    margin-top: 5px;
    color: #E5E7EB;
    max-width: 400px
}

button{
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight:bold;
    font-size: 18px;
    border-radius: 10px;
    border: 0px;
    margin-right: auto;
    padding: 7px 20px;
    text-align: center;;
}

.content-container img{
    width: auto;
    max-height: 300px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}






.info-container{
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex: 1 1 auto;
}

.info-container .info-div{
    text-align: center;
    background-color: white;
    gap: 50px;
    margin-bottom: 40px;
}

.info-container h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin: 50px;
}

.info-container img{
    max-width: 200px;
}

/*quote section*/
.quote-container{
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 50px 100px;
    align-items: center;
}

.quote-container p{
    margin: 0;
}

#quote{
    font-style: italic;
}

#author{
    font-weight: bold;
    margin-left: 270px;
}

.signup-container{
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.blue-box{
    background-color: #3882F6;
    align-items: center;
}

.blue-left{
    background-color: #3882F6;
    flex-direction: column;
}

button.signup-container{
    border: 10px white;
}


